* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow-x: hidden;
  position: relative;
}

.nav-header {
  min-height: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2rem 0;
  font-size: 1rem;
}

#logo {
  font-family: "Abril Fatface", sans-serif;
  color: white;
}

.burger {
  cursor: pointer;
}

.line1,
.line2 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #17181a;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  flex: 1;
  flex-basis: 25rem;
  position: relative;
}

.hero-desc h2 {
  font-size: 5rem;
  font-family: "Abril Fatface", sans-serif;
}

.mountain-span {
  color: rgb(86, 124, 228);
}

.hike-span {
  color: rgb(167, 110, 231);
}

.fashion-span {
  color: rgb(255, 139, 93);
}

.hero-desc p {
  font-size: 1.5rem;
  padding: 3rem 0rem;
  color: rgb(223, 223, 223);
}

.explore {
  align-self: flex-start;
  padding: 1rem 2rem;
  border: 1px solid white;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  text-decoration: none;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 1;

  clip-path: circle(50px at 100% -100%);
  -webkit-clip-path: circle(50px at 100% -100%);
}

.nav-links {
  font-size: 3rem;
  flex-basis: 30rem;
}

.nav-links h3 {
  padding: 3rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  background: #17181a;
  width: 100%;
  height: 150%;
  top: -15%;
  left: 0;
}

.cursor-div {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor-div.active {
  transform: scale(3);
  background: lightblue;
}

.cursor-div.active-explore {
  transform: scale(3);
  background: white;
}

.cursor-text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}
.t-swipe1 {
  background: rgb(86, 124, 228);
}
.t-swipe2 {
  background: rgb(167, 110, 231);
}
.t-swipe3 {
  background: rgb(255, 139, 93);
}
